* {
  margin: 0;
  padding: 0;
}

ul {
  font-size: 0;
}

li {
  font-size: 14px;
}

.clearfix {
  clear: both;
}

header {
  height: 250px;
  width: 100%;
  overflow: hidden;
}
header .container {
  height: inherit;
  width: inherit;
  background: rgba(0, 0, 0, 0.4);
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.4) 0%, transparent 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.4)), color-stop(100%, transparent));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.4) 0%, transparent 100%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.4) 0%, transparent 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.4) 0%, transparent 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, transparent 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(0, 0, 0, 0.4)', endColorstr='transparent',GradientType=0 );
}
header #logo {
  position: fixed;
  top: 4px;
  height: 50px;
  left: 25px;
  z-index: 9;
}
header .nav {
  background-image: url(../resources/images/header-banner-cropped.jpg);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-size: 100%;
  background-size: cover;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -ms-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}
header ul {
  position: fixed;
  top: 0;
  right: 0;
  text-align: right;
  padding: 20px;
  padding-top: 10px;
  width: 100%;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
header li {
  display: inline-block;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 25px;
  font-weight: 800;
  color: white;
}
header li:first-child {
  padding-left: 0;
}
header li:last-child {
  padding-right: 0;
}
header a {
  color: white;
  text-decoration: none;
  cursor: pointer;
  border-bottom: 5px solid white;
  transition: 0.3s;
}
header a:hover {
  border-bottom: 5px solid transparent;
}

.main-body-nav {
  background-color: #f47a51;
}

main {
  background-color: white;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
main svg {
  display: block;
  width: 1140px;
  margin: 0 auto;
}

#bus, #land {
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

#Outcome1, #Outcome2, #Outcome3, #Outcome5, #Outcome6, #Outcome7 {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.outcome-hidden-left {
  -webkit-transform: translate(-350px);
  -moz-transform: translate(-350px);
  -ms-transform: translate(-350px);
  -o-transform: translate(-350px);
  transform: translate(-350px);
}

.outcome-hidden-right {
  -webkit-transform: translate(350px);
  -moz-transform: translate(350px);
  -ms-transform: translate(350px);
  -o-transform: translate(350px);
  transform: translate(350px);
}

#leftLaurel, #rightLaurel {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  -ms-opacity: 0;
  -o-opacity: 0;
  opacity: 0;
}

#inShort_group1, #inShort_group2, #inShort_group3, #inShort_line1, #inShort_line2 {
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  -ms-opacity: 0;
  -o-opacity: 0;
  opacity: 0;
}

.connector1, .connector3 {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translate(-95px);
  -moz-transform: translate(-95px);
  -ms-transform: translate(-95px);
  -o-transform: translate(-95px);
  transform: translate(-95px);
}

.connector2, .connector4 {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translate(95px);
  -moz-transform: translate(95px);
  -ms-transform: translate(95px);
  -o-transform: translate(95px);
  transform: translate(95px);
}

.overlay {
  display: none;
  opacity: 0;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.blackout {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.video-box {
  position: relative;
}

.video-player {
  background-color: black;
  position: fixed;
  left: 0;
  right: 0;
  margin: 0 auto;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.8);
  z-index: 20;
}

.close-x {
  position: absolute;
  top: -10px;
  right: -10px;
  color: white;
}
