@import _default

$brand-orange: #F47A51

header
	height: 250px
	width: 100%
	overflow: hidden
	background-image: url(../resources/images/header-banner-cropped.jpg)
	background-size: 100%
	background-size: cover
	.container
		height: inherit
		width: inherit
		+background-gradient(rgba(0,0,0,0.4), transparent)
	.nav
		background-image: url(../resources/images/header-banner-cropped.jpg)
		text-shadow: 0 0 10px rgba(0,0,0,0.5)
		background-size: 100%
		background-size: cover
		+vendor(transition, .1s)
	ul
		position: fixed
		top: 0
		right: 0
		text-align: right
		padding: 20px
		padding-top: 10px
		width: 100%
		+vendor(transition, .5s)
	li
		display: inline-block
		color: white
		padding-left: 20px
		padding-right: 20px
		font-family: 'Source Sans Pro', sans-serif
		font-size: 25px
		font-weight: 800
		color: white
		&:first-child
			padding-left: 0
		&:last-child
			padding-right: 0
	a
		color: white
		text-decoration: none
		cursor: pointer
		border-bottom: 5px solid white
		transition: .3s
		&:hover
			border-bottom: 5px solid transparent

.main-body-nav
	background-color: $brand-orange

main
	background-color: white
	+vendor(transition, .5s)
	svg
		display: block
		width: 1140px
		margin: 0 auto

#bus, #land
	+vendor(transition, 1s)

.overlay
	display: none
	opacity: 0
	+vendor(transition, .5s)

.blackout
	height: 100%
	width: 100%
	background-color: rgba(0,0,0,0.7)
	position: fixed
	top: 0
	left: 0
	z-index: 10

.video-box
	background-color: black
	position: fixed
	left: 0
	right: 0
	margin: 0 auto
	box-shadow: 0 0 100px rgba(0,0,0,0.8)
	z-index: 20